div.software{
    width:128px;
    height:240px;
    background-image: url("software.png");
}

@media screen and (max-width: 400px){
    div.software{
    background-position: 128px -240px;
    }
}
@media screen and (min-width: 401px){
    div.software{
	background-position: 256px -240px;
    }
}
@media screen and (min-width: 501px){
    div.software{
	background-position: 384px -240px;
    }
}
@media screen and (min-width: 601px){
    div.software{
	background-position: 512px -240px;
    }
}
@media screen and (min-width: 701px){
    div.software{
	background-position: 640px -240px;
    }
}
@media screen and (min-width: 801px){
    div.software{
	background-position: 128px 0px;
    }
}
@media screen and (min-width: 901px){
    div.software{
	background-position: 256px 0px;
    }
}
@media screen and (min-width: 1001px){
    div.software{
	background-position: 384px 0px;
    }
}
@media screen and (min-width: 1101px){
    div.software{
	background-position: 512px 0px;
    }
}
@media screen and (min-width: 1201px){
    div.software{
	background-position: 640px 0px;
    }
}
