@media screen and (max-device-width: 400px){
    .software{
	width:128px;
	height:240px;
	background:url(software.png) 512 -240px;
    }
}
.software{
    width: 128px;
    height:240px;
    background: url(software.png) 512 -240px;
}